# -*- coding: utf-8; mode: conf -*-
# vim: encoding=utf-8 ft=conf

# Pulls default X configurations from locale;
# e.g. /usr/share/X11/locale/en_US.UTF-8/Compose
include "%L"

# Brazilian users with an en_US.UTF-8 locale might want this instead
# of "include %L".
#
# include "/usr/share/X11/locale/pt_BR.UTF-8/Compose"

# Include everything! Adjust /usr/local/share to your installation path.
include "/usr/local/share/pointless-xcompose/abbrevs.xcompose"
include "/usr/local/share/pointless-xcompose/arrows.xcompose"
include "/usr/local/share/pointless-xcompose/bullets.xcompose"
include "/usr/local/share/pointless-xcompose/cjk.xcompose"
include "/usr/local/share/pointless-xcompose/dashes-hyphens.xcompose"
include "/usr/local/share/pointless-xcompose/dingbats.xcompose"
include "/usr/local/share/pointless-xcompose/enclosed.xcompose"
include "/usr/local/share/pointless-xcompose/fractions.xcompose"
include "/usr/local/share/pointless-xcompose/historical.xcompose"
include "/usr/local/share/pointless-xcompose/hyphen-macron.xcompose"
include "/usr/local/share/pointless-xcompose/invisible.xcompose"
include "/usr/local/share/pointless-xcompose/math.xcompose"
include "/usr/local/share/pointless-xcompose/typographic.xcompose"

# If you use a layout with X deadkeys, use bin/make-dead-compose.rb to
# create this file.  See the README.
include "/usr/local/share/pointless-xcompose/dead.xcompose"
